.list {
  border-bottom: 1px solid #eeeeee;
  position: relative;
  margin-top: 10px;
}

.list img {
  width: 40px;
  height: 40px;
}

.list .title {
  position: absolute;
  top: 10px;
  margin-left: 5px;
  color: #6699FF;
}

.list .time {
  position: absolute;
  right: 0;
  top: 10px;
  color: #6699FF;
}
