.detaile-box{
    margin: 0 20px;
    .details-title{
        padding-top: 45px;
        .datails-fo{
            height: 130PX; 
        }
    }
    .data_title{
            font-size: 42px;
            font-weight: 700;
            margin: 8px 0;
            display: inline-block;
            vertical-align: bottom;
            width: 75%;
            line-height: 130%;
    }
    h2{
        font-size: 50px;
    }
    .data_comment{
        font-size: 40px;
        padding: 15px 0;
        background: #444444;
        color: #ffffff;
        margin: 35px 0;
    }
}