
.listBox{
    margin: 0 20px;
    background: #fff;
    border-radius: 6px;
}
.homenav {
    // margin: 15px 0;
    li {
        padding: 11px 0px;
        background: #6699FF;
        color: #fff;
        width: 16.666%;
        text-align: center;
    }
}