.conent {
  margin-top: 170px;
}

.conent .listBox {
  margin: 0 20px;
  background: #fff;
  border-radius: 6px;
}

.conent .homenav li {
  padding: 16px 0px;
  background: #6699FF;
  color: #fff;
  width: 16.666%;
  text-align: center;
  font-size: 30px;
}
