.HomeIcon {
  margin: 0 10px;
}
.zhiding{
  color: red
}
.fenxiang{
  color: tomato;
}
.jinghua{
  color: orange;
}
.job{
  color: skyblue;
}
.dev{
  color: turquoise;
}
.ask{
  color: darkcyan;
}
.icon-zhiding1{
  font-size: 35px !important;
}