.login {
  background: #444444;
  height: 100%;
  margin-top: 170px;
}

.login .login-title {
  text-align: center;
  color: #FFFF99;
  font-size: 26px;
}

.login .login-btn {
  padding: 0 10px;
  text-align: center;
  padding-top: 138px;
}

.login .login-btn span {
  color: #ffffff;
  font-size: 25px;
}

.login .login-btn input {
  border: 0;
  height: 30px;
  font-size: 25px;
  background: #444444;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-left: 10px;
}

.login .login-btn .caveat {
  color: red;
  display: block;
  margin-left: 52px;
  margin-top: 7px;
}

.login .login-btn button {
  border: 0;
  background: #00CCCC;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 4px;
  margin-top: 40px;
  font-size: 26px;
}

.login .login-btn .erweima {
  margin-right: 70px;
}
