.detailsCom{
    padding: 0 15px;
    .details-title {
        padding: 0 15px;
        margin-top: 20px;
        .shoucang{
            padding: 0 10px;
            height: 43px;
            background: #6699CC;
            text-align: center;
            line-height: 43px;
            color: #fff;
            font-size: 18px;
            border-radius: 5px;
            float: right;
            margin-bottom: 10px;
        }
    }
    .hrrr{
        border-top: 1px solid #eeeeee;
        margin-bottom: 10px;
    }
    .markdown-text{
        // padding: 0 15px;
        img{
            cursor: pointer;
            height: auto;
            max-width: 100%;
        }
        a{
            color: #6699CC;
        }
        blockquote{
            padding: 0 0 0 15px;
            margin: 0 0 20px;
            border-left: 5px solid #eee;
        }
        h2{
            font-size: 26px;
            margin: 30px 0 15px;
            border-bottom: 1px solid #eee;
        }
        strong{
            font-weight: 700px;
        }
    }
}
