.navbar{
    background: #444;
    height: 25%;
    text-align: center;
    img{
      width: 260px;
      height: 100px;
    }
    .HeaderNav{
      a{
        color: #fff;
        padding: 0 10px;
      }
      margin-bottom: 15px;
    }
  }