.navbar {
  background: #444;
  height: 167px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index: 5;
}

.navbar img {
  width: 260px;
  height: 100px;
}

.navbar .HeaderNav {
  margin-bottom: 15px;
  font-size: 28px;
}

.navbar .HeaderNav a {
  color: #fff;
  padding: 0 30px;
  font-size: 35px;
}
