.commentItem {
  border-top: 1px solid #eeeeee;
  margin-top: 10px;
  padding-top: 6px;
  position: relative;
}

.commentItem .commentItem-title a {
  margin-right: 10px;
}

.commentItem .commentItem-title a img {
  width: 40px;
  height: 40px;
}

.commentItem .commentItem-title p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.commentItem .commentItem-title .markdown-text img {
  display: block;
}

.commentItem .commentItem-title .userInfo {
  position: absolute;
  top: 15px;
  left: 60px;
}

.commentItem .commentItem-title .userInfo .zan {
  position: absolute;
  right: 20px;
}
