.homelist{
    height: 50px;
    position: relative;
    margin-top: 2px;
    background: #ffffff;
    a {
        display: inline-block;
    }
    .homelist-img{
        width: 30px;
        height: 30px;
        margin-top: 12px;
        margin-left: 5px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .homelist-title{
        position: absolute;
        top: 10px;
        left: 50px;
        display: inline-block;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .list-count{
            span{
                font-size: 12px;
                color: #b4b4b4;
            }
        }
    }
    .homelist-time{
        position: absolute;
        right: 5px;
        top: 17px;
    }
}
.sign-color{
    color: #ffffff;
    background: #6699CC;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 5px;
    margin-right: 7px;
}
.sign-nocolor{
    color: #ffffff;
    background: #999;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 5px;
    margin-right: 7px;
}